*{
margin: 0px; 
padding: 0px;
box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/*-----Top Nav logo ----*/

/*-----Navbar begins ----*/
.navbar { 
    display:flex;
    justify-content: space-between;
    align-items: center; 
}

#indexhome {
    font-size: 1.5rem;
    align-items: left;
    font-family: 'Montserrat', sans-serif;
    padding-left: 50px;  
    position: absolute;
}

.nav-links ul {
    margin: 0;
    padding: 0; 
    display: flex;
}

.nav-links li {
   list-style:none;
}

.nav-links li a{
    list-style:none;
    padding: 1rem;
    display: block;
 }

 .nav-links {
 display: flex;
 transition: ease-in;
 transition-duration: 5s;
 }
 #menubar {
     float: right;
     padding-top: 30px;
     padding-right:30px;
     font-size:30px;
     display:none;
 }


/*---Navigation Bar LIST Spacing and Layout--*/


@media (max-width: 700px) {

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 20px;
    }
    .nav-links  {
        flex-direction: column; 
        align-items: flex-start; 
        z-index: 11;
        position: relative;
        width: 100%;
    }

    .nav-links ul {
        width: 100%;
        flex-direction:column;
        z-index: 11;
        position: relative;
    }

    .nav-links li {
        text-align: center;
    }

    .nav-links li a {
        padding: .5rem;
    }

    .nav-links.active {
        display: none; 
    }

    #menubar {
        float: right;
        padding-top: 30px;
        padding-right:30px;
        font-size:30px;
        display:flex;
        cursor: pointer;
    }
}

/*---Navigation Bar Font and Style--*/

.nav-links ul li a{
    color: rgb(71, 71, 71);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-decoration:wavy; 
}

.nav-links ul li::after{
    content:'';
    width:0%;
    height:2px;
    background:rgb(42, 173, 224);
    display: block;
    margin: auto; 
    transition: .8s; 
}
.nav-links ul li:hover::after {
    width:100%; 
}
/*-------NAVBAR ENDS HERE---------*/
/*-------HEADER BOX STARTS HERE---------*/
.headerbox{
    height: 400px;
    width: 100%;
    font-family: 'Darker Grotesque', sans-serif;
    background-color: rgb(31, 30, 30); 
    color: rgb(245, 236, 236);
    position: relative;
    top: 14%;
    text-align:center;
}
.headerbox h1{
    font-size:62px;
    font-weight: 300;
    -ms-transform:translateY(100%);
    transform:translateY(150%);
}

@keyframes fadeInUp{
    to{
        opacity:1;
        transform:translateY(0);
    }
}
.container p{
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    padding-top:100px;
}
.headerboxlowertext p{
    font-size: 30px;
    font-weight: lighter;
    padding-top: 20px;
    opacity: 0;
    transform: translateY(10rem);
    animation: fadeInUp 4000ms ease forwards;
}

.headerboxlowertext a {
    position: absolute;
    transform: translateX(-50%);
  
}
.typed-text {
    font-weight: normal;
    color:rgb(1, 201, 201); 
}

.cursor {
    display: inline-block;
    width: 6px;
    background-color:#ccc; 
    animation: blink 1s 4;
}

@keyframes blink {
    0% {background-color: white;}
    50% {background-color: transparent;}
    100% {background-color: white;}
}

.button {
    text-decoration: wavy;
    color: rgb(255, 254, 254);
    border: 1px solid #fff;
    padding: 8px 15px;
    font-size: 20px;
    background: transparent;
    cursor: pointer;
    float: center; 
    border-radius: 8px;
    margin-top: 25px;
}
.button:hover{ 
    border: 1px solid rgb(3, 165, 165) ; 
    background: rgb(3, 165, 165);
    transition: 0.5s;
}

.mailink a{
        color: rgb(3, 165, 165);
        background-color: transparent;
        text-decoration: none;
}


.mailink a:hover{
    color: rgb(185, 255, 255);
    background-color: transparent;
    text-decoration: none;
}
/*-----header ends-----*/

/*-----Lower Homepage------*/

.Aboutpage{
    width:100%;
    margin:auto;
    padding-top:500px; 
}

.columnright{
    float:right;
    padding:100px;
    width: 30%;
}

.columnleft{
    float:left;
    width:500px;

}

.columnleft h1 {
    text-align:center;
    text-decoration: underline;
    text-underline-offset: 1px;
}

.columnleft p {
    text-align:center;
}

.bottomrow {
    width:95%;
    text-align:left;
    padding-left:50px;
    padding-top:675px;
}

#bold{
    font-weight: 550;
    color:black;
}
.Aboutpage h1{
    font-size: 36px; 
    font-weight: 600; 
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
    text-decoration-color: rgb(31, 30, 30);
    text-underline-offset: 10px;
}

.Aboutpage p{
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding:10px; 
    font-family: 'Montserrat', sans-serif;
    border-radius: 8px;
}

.twothirdcontainer {
    width: 40%;
    display:block;
}

.firstprojimg {
    padding-left: 100px; 
    float: right;
    max-width: 90%;
    display:block;
}

.secondproj {
    padding-top: 150px;
}

