*{
    margin: 0px; 
    padding: 0px;
 }


 .navbar { 
    display:flex;
    justify-content: space-between;
    align-items: center; 
}

#indexhome {
    font-size: 1.5rem;
    align-items: left;
    font-family: 'Montserrat', sans-serif;
    padding-left: 50px;  
    position: absolute;
}

.nav-links ul {
    margin: 0;
    padding: 0; 
    display: flex;
}

.nav-links li {
   list-style:none;
}

.nav-links li a{
    list-style:none;
    padding: 1rem;
    display: block;
 }

 .nav-links {
 display: flex;
 }
 #menubar {
     float: right;
     padding-top: 30px;
     padding-right:30px;
     font-size:30px;
     display:none;
 }

 /*---Navigation Bar LIST Spacing and Layout--*/


@media (max-width: 700px) {

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 20px;
    }
    .nav-links  {
        flex-direction: column; 
        align-items: flex-start; 
        z-index: 11;
        position: relative;
        width: 100%;
    }

    .nav-links ul {
        width: 100%;
        flex-direction:column;
        z-index: 11;
        position: relative;
    }

    .nav-links li {
        text-align: center;
    }

    .nav-links li a {
        padding: .5rem;
    }

    .nav-links.active {
        display: none; 
    }

    #menubar {
        float: right;
        padding-top: 30px;
        padding-right:30px;
        font-size:30px;
        display:flex;
        cursor: pointer;
    }
}


/*---Navigation Bar Font and Style--*/

.nav-links ul li a{
    color: rgb(71, 71, 71);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-decoration:wavy; 
}

.nav-links ul li::after{
    content:'';
    width:0%;
    height:2px;
    background:rgb(42, 173, 224);
    display: block;
    margin: auto; 
    transition: .8s; 
}
.nav-links ul li:hover::after {
    width:100%; 
}

.updatecontainer {
    padding-top: 20px;
    padding-left: 10px;
    padding-right:10px;
}