*{
    margin: 0px; 
    padding: 0px;
 }

 #coverimage{
    float: left;
    padding-top:15px;
    padding-left: 30px;
}

#indexhome {
    float:left;
    padding-left:90px;
    padding-top:20px;
    position: absolute;
    font-family:'Montserrat', sans-serif;
    font-size: 25px;
}
/*-----Navbar begins ----*/
.navbar{
    height:60px;
    width:100%;
    background-color: #fff;
    background-position:center;
    background-size: cover;
    position: relative; 
}
nav { 
    display: flex;
    padding: 2% 10%; 
    justify-content: space-between;
    align-items: center; 
}
nav img{ 
    width: 12px;
}

/*---Navigation Bar LIST Spacing and Layout--*/
.nav-links{
    text-align:right;
    padding-right: 25px;
    z-index: 999;
}

.nav-links ul li{
    list-style: none; 
    display: inline-block;
    padding: 30px 10px; 
}

/*---Navigation Bar Font and Style--*/

.nav-links ul li a{
    color: rgb(71, 71, 71);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-decoration:wavy; 
}

.nav-links ul li::after{
    content:'';
    width:0%;
    height:2px;
    background:rgb(42, 173, 224);
    display: block;
    margin: auto; 
    transition: .8s; 
}
.nav-links ul li:hover::after {
    width:100%; 
}

.updatecontainer {
    padding-top: 20px;
    padding-left: 10px;
    padding-right:10px;
}